
body {
    height: 100%;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 16px;
}

.button {
    padding: 8px;
    border-radius: 10px;
    border-style: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.gridElement {
    background-color: var(--secondary-light);
}

.hover {
    background-color: blue;
}

